@model CarInsurance.Models.Insuree
@{
    Layout = null;
    ViewBag.Title = "Delete Profile";
}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Profile</title>
    <link rel="stylesheet" href="https://cloudflare.com" />
</head>
<body class="container text-center" style="padding-top: 50px;">

    <div class="alert alert-danger p-5 d-inline-block">
        <h2>Are you sure you want to delete this client application?</h2>
        <h3 class="my-4 text-dark fw-bold">@Model.FirstName @Model.LastName</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Yes, Confirm Deletion" class="btn btn-danger btn-lg me-2" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary btn-lg" })
        }
    </div>

</body>
</html>



